
  body {
      position: relative; 
      background-color: #fff;
  }

  #section1 {padding-top:50px;height:500px;color: #fff; background-color: #eff5f2;}
  #section2 {padding-top:50px;height:500px;color: #fff; background-color: #eff5f2;}
  #section3 {padding-top:50px;height:500px;color: #fff; background-color: #eff5f2;}


.jumbotron {
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e5fff2;

}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #000;

}

.featurette-heading {
  color: #000;

}
.lead {
  color: #000;
}

.learn-more {
  background-color: #d3fff0;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}